@import "bootstrap/scss/functions";
@import "./variables";
@import "/node_modules/bootstrap";
@import "bootstrap/scss/utilities/api";
@import "./utilities.scss";
@import "bootstrap/scss/bootstrap.scss";
//基礎設置
@import"./base.scss";

.custom-file{
    width: 100%;
    height:252px;
    border:1px dashed gray;
}
.custom-border{
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}
.custom-border-top{
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.custom-border-bottom{
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

table thead tr th{
    color: $primary !important;
}